html,
body,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    text-align: center;
}

body {
    background-color: #E0FFE0;
}

h1 {
    font-size: 6rem;
    font-family: 'Alkalami', serif;
    letter-spacing: 1rem;
    color: #023020;
    transition: all 0.3%;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.parent1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.parent2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.parent3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}

.imgs {
    width: 20%;
    border: 5px green solid;
    box-shadow: 5px 5px #90AF90;
    border-radius: 3rem;

}


.img:hover {
    transform: scale(1.1);
    outline: 8px solid #FADADD;
    padding: 6px;
}

.img {
    width: 20%;
    border: 5px green solid;
    box-shadow: 5px 5px #90AF90;
    border-radius: 3rem;

}

.imgs:hover {
    outline: 8px dotted lightcoral;
    padding: 6px;
    animation-name: rotate;
    animation-duration: 0.7s;

}

.imgs1 {

    width: 20%;
    border: 5px green solid;
    box-shadow: 5px 5px #90AF90;
    border-radius: 3rem;

}

.imgs1:hover {
    width: 20%;
    border: 5px rgb(150, 196, 255) solid;
    box-shadow: 5px 5px #030447;
    transform: scale(1.3);
}

h1:hover {
    transform: scale(1.5);
}

h2:hover {
    transform: scale(1.2);
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
